.primary__btn{
    position: relative;
    padding: 8px 15px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #252525;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    transition: all .5s;
}
.primary__btn::first-letter{
    color: #111;
}
.primary__btn::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 100%;
    background-color: #ffb400;
    z-index: -1;
    left: 0;
    top: 0;
    transition: all .5s;
}
.primary__btn:hover::before{
    width: 100%;
}
.primary__btn:hover{
    color: #111;
}